@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: 1px solid #ddd;
  background: #eee;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.App {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 30px 30px;
  @media (min-width: 500px) {
    padding: 0 50px 50px;
  }
  
  &.Index {
    p.intro {
      font-size: 1.2em;
      line-height: 1.5em;
      color: #444;
      margin: 20px 0 40px;
     
      + p {
        color: #444;
        font-size: 1em;
        margin: 0 0 15px;
      }

      a {
        color: #007eff;
        text-decoration: none;
      }
    }

    input {
      width: 80%;
      line-height: 30px;
      font-size: 1.4em;
      padding: 20px 10px;
      border: 1px solid #bbb;
      border-radius: 5px 0 0 5px;
      margin-bottom: 40px;
    }

    a.go {
      display: inline-block;
      width: 20%;
      background: green;
      padding: 20px 10px;
      border-radius: 0 5px 5px 0;
      line-height: 33px;
      font-size: 1.4em;
      color: #fff;
      text-align: center;
      text-decoration: none;
      margin: 1px 0 40px -3px;
      opacity: 1;

      &:active {
        opacity: .9;
      }
    }
  }

  header {
    padding: 40px 0 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    color: #888;

    h1 {
      padding-bottom: 35px;
      text-align: center;
      font-family: 'Odibee Sans', sans-serif;
      font-size: 40px;

      a {
        text-decoration: none;
        color: #222;
      }
    }

    p {
      font-size: 90%;

      a {
        color: #888;
      }
    }
  }
  
  div.teams {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    div {
      &.points {
        span.blue {
          color: #007eff;
        }
        span.red {
          color: #d13030;
        }
      }

      &.turn {
        text-align: right;
        color: #d13030;
        margin-left: 5%;

        &.blue {
          color: #007eff;
        }
      }
    }
  }
  
  div.pair {
    display: flex;

    div {
      width: 50%;
      padding: 40px 5px;
      color: #333;
      border: 1px solid #eee;

      &.left {
        text-align: right;
        padding-right: 20px;
      }

      &.right {
        padding-left: 20px;
        border-left: none;
      }
    }
  }

  div.target {
    text-align: center;
    width: 100%;
    height: 30px;
    background: #eee;
    z-index: 0;
    overflow: hidden;

    
    div {
      width: 100%;
      position: relative;

      div {
        height: 30px;
        position: absolute;

        &.outer {
          background: rgb(243, 183, 73);
          width: 21%;
          z-index: 1;
        }

        &.middle {
          background: rgb(151, 224, 144);
          width: 11%;
          z-index: 2;
        }

        &.inner {
          background: #d13030;
          width: 5%;
          z-index: 3;
        }
      }
    }

    input.slider {
      height: 35px;
      width: 99%;
      z-index: 5;
      appearance: none;
      background: transparent;
      outline: none;
      transition: opacity .2s;
      cursor: pointer;

      &:hover {
        &::-webkit-slider-thumb {
          background: rgba($color: #000, $alpha: 0.8);
        }
      }

      &::-webkit-slider-thumb {
        appearance: none;
        width: 1.5%;
        display: block;
        height: 29px;
        background: rgba($color: #000, $alpha: 0.6);
        transition: all .5s ease;
        cursor: pointer;
        margin: -10px 0 0 0;
        z-index: 60;
        box-shadow: 1px 1px #aaa;
        border: 1px solid rgba($color: #000, $alpha: 0.5);
      }

      &::-moz-range-thumb {
        width: 1%;
        height: 30px;
        background: black;
        cursor: pointer;
        position: relative;
      }
    }
    
  }

  .sliderticks {
    width: 103%;
    margin-left: 1%;
    position: relative;
    z-index: 1;

    p {
      &::before {
        content: '|';
        font-size: .75em;
        display: block;
        position: relative;
        top: -1px;
        left: 0px;
        color: #bbb;
      }

      font-size: 0.75em;
      color: #666;
      position: relative;
      display: inline-block;
      text-align: center;
      width: 24%;
      height: 5px;
      margin: -1px 0 50px 0;
      opacity: 1;

      &:first-of-type {
        margin-left: -12%;
      }
      &:nth-of-type(3) {
        width: 23.25%;
      }
      &:last-of-type {
        text-align: right;
        width: 13.5%;
        &::before {
          left: -6px;
        }
        @media (min-width: 575px) {
          width: 13%;
        }
      }
    }
  }

  div.peek {
    input {
      width: 15px;
      height: 15px;
      position: relative;
      margin-right: 7px;
      top: 1px;
      cursor: pointer;
    }

    p {
      display: inline;
      font-size: 90%;
      position: relative;
      top: -1px;
      color: #333;
      cursor: pointer;
    }

    &.guessed {
      p, input {
        cursor: default;
      }
    }
  }

  div.buttons {
    float: right;
    @media (max-width: 400px) {
      position: relative;
      top: -3px;
    }

    button:first-of-type {
      margin-right: 20px;
      @media (max-width: 400px) {
        margin-right: 5px;
      }
    }
  }
  
  p.chai a {
    float: right;
    font-size: .8em;
    color: #aaa;
    margin-top: 40px;
    clear: both;
  }
}